<h2>THIS IS INDEX!!</h2>


<table>
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Color</td>
    <td>Sex</td>
    <td>Description</td>
  </tr>
  <% @cats.each do |cat| %>
  <tr>
    <td><%= cat.name %></td>
    <td><%= cat.age %></td>
    <td><%= cat.color %></td>
    <td><%= cat.sex %></td>
    <td><%= cat.description %></td>
  </tr>
  <% end %>
</table>
